<div class="container">
  @if (noDiscussions) {
    <p>{{ "DISCUSSIONS_PAGE.NO_DISCUSSIONS" | translate }}</p>
  }

  @for (discussion of discussions; track discussion) {
    <div class="row">
      <div class="col col-sm-8 col-md-8 col-lg-8">
        <a
          [routerLink]="[
            'discussion',
            discussion.id,
            urlSharedService.toLowerURL(discussion.name)
          ]"
        >
          {{ discussion.name }}
        </a>

        <br /><br />

        <span>
          {{ "DISCUSSIONS_PAGE.BY" | translate }}
          <a
            [routerLink]="[
              '/profile',
              discussion.author.id,
              urlSharedService.toLowerURL(discussion.author.name)
            ]"
            class="content-link"
          >
            {{ discussion.author.name }}
          </a>
          -
          <span>{{ discussion.firstMessageDateFormatted }}</span>
        </span>
      </div>

      <div class="col">
        <div>
          <span>{{ discussion.nbMessages }}&nbsp;</span>

          @if (discussion.nbMessages === "1") {
            <span>{{ "GENERAL.MESSAGE_LOWER" | translate }}</span>
          } @else {
            <span>{{ "GENERAL.MESSAGES_LOWER" | translate }}</span>
          }
        </div>
        <div>
          <span>{{ "DISCUSSIONS_PAGE.LAST_MESSAGE" | translate }} :</span>
          <br />
          <span>{{ discussion.lastMessageDateFormatted }}</span>
        </div>
      </div>
    </div>
  }

  @if (nbPages) {
    <br />
    <app-pagination [nbPages]="nbPages"></app-pagination>
  }
</div>
