<div class="container">
  @for (forum of forumSharedService.forums; track forum) {
    <div class="row">
      <div class="col">
        <a routerLink="./{{ forum.label }}">
          {{ forum.name }}
        </a>
      </div>

      <div class="col-1 col-sm-4 col-md-6"></div>

      <div class="col">
        <div>
          @if (forum.nbDiscussions === "1") {
            <span> 1 {{ "GENERAL.DISCUSSION_LOWER" | translate }} </span>
          } @else {
            <span>
              {{ forum.nbDiscussions }}
              {{ "GENERAL.DISCUSSIONS_LOWER" | translate }}
            </span>
          }
        </div>
        <div>
          @if (forum.nbMessages === "1") {
            <span> 1 {{ "GENERAL.MESSAGE_LOWER" | translate }} </span>
          } @else {
            <span>
              {{ forum.nbMessages }}
              {{ "GENERAL.MESSAGES_LOWER" | translate }}
            </span>
          }
        </div>
      </div>
    </div>
  }
</div>
