<div id="footer">
  <hr />

  <div class="container-lg">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-6 text-center text-md-start">
        <span>©</span>
        <span class="app-logo">{{ "GENERAL.TITLE" | translate }}</span>
      </div>
      <div id="links" class="col-sm-12 col-md-6 text-center text-md-end">
        <a href="#">{{ "FOOTER.TOS" | translate }}</a>
        <span>&nbsp;·&nbsp;</span>
        <a href="#">{{ "FOOTER.PRIVACY_POLICY" | translate }}</a>
      </div>
    </div>
  </div>
</div>
