@if (notFound) {
  <app-not-found></app-not-found>
}

@if (articles) {
  <div class="articles-section-title">
    <h2 class="title">{{ categoryName }}</h2>
  </div>

  <div class="row">
    @for (article of articles; track article) {
      <div class="col-12 col-md-6">
        <a
          [routerLink]="[
            'article/' +
              article.id +
              '/' +
              urlSharedService.toLowerURL(article.title)
          ]"
          class="title-link"
        >
          <img
            [src]="article.image"
            [alt]="article.title"
            class="image-ratio-16x9"
          />
          <h5>{{ article.title }}</h5>
        </a>
      </div>
    }
  </div>
}

@if (nbPages) {
  <br />
  <app-pagination [nbPages]="nbPages"></app-pagination>
}
