#cover-image {
  width: 100%;
}

#author {
  img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 100%;
  }

  .fa-circle-user {
    color: #333;
  }
}

#content {
  margin-top: 1rem;
  font-size: 1.25rem;
}

.date-delimiter {
  padding: 0;
}
