img {
  display: block;
  width: 100%;
}

.articles-section-title h4 {
  text-align: center;
}

#most-viewed-article {
  .col-12 {
    margin: 0.5rem 0;
  }
}

.article {
  display: inline-block;
  margin-bottom: 1rem;
}

section:last-of-type {
  margin-bottom: 2rem;
}
