@if (frontArticles) {
  <section class="container">
    <div class="row">
      <div class="col">
        <a
          [routerLink]="[
            '/categorie/' +
              frontArticles[0].category +
              '/article/' +
              frontArticles[0].id +
              '/' +
              urlService.toLowerURL(frontArticles[0].title)
          ]"
          class="article title-link"
        >
          <img
            [src]="frontArticles[0].image"
            [alt]="frontArticles[0].title"
            class="image-ratio-16x9"
          />
          <h3>{{ frontArticles[0].title }}</h3>
        </a>
      </div>
    </div>

    <div class="row">
      @for (i of [1, 2]; track i) {
        <div class="col-12 col-md-6">
          <a
            [routerLink]="[
              '/categorie/' +
                frontArticles[i].category +
                '/article/' +
                frontArticles[i].id +
                '/' +
                urlService.toLowerURL(frontArticles[i].title)
            ]"
            class="article title-link"
          >
            <img
              [src]="frontArticles[i].image"
              [alt]="frontArticles[i].title"
              class="image-ratio-16x9"
            />
            <h5>{{ frontArticles[i].title }}</h5>
          </a>
        </div>
      }
    </div>
  </section>
}

@if (mostViewedArticles) {
  <section id="most-viewed-article" class="container">
    <div class="articles-section-title">
      <h4 class="title">{{ "HOME_PAGE.MOST_READED" | translate }}</h4>
    </div>

    @for (i of [1, 2, 3]; let rowIndex = $index; track i) {
      <div class="row">
        @for (j of [1, 2, 3]; let colIndex = $index; track j) {
          <div class="col-12 col-md-4">
            <a
              [routerLink]="[
                '/categorie/' +
                  mostViewedArticles[rowIndex * 3 + colIndex].category +
                  '/article/' +
                  mostViewedArticles[rowIndex * 3 + colIndex].id +
                  '/' +
                  urlService.toLowerURL(
                    mostViewedArticles[rowIndex * 3 + colIndex].title
                  )
              ]"
              class="title-link"
            >
              <h5>
                {{ rowIndex * 3 + colIndex + 1 }}.
                {{ mostViewedArticles[rowIndex * 3 + colIndex].title }}
              </h5>
            </a>
          </div>
        }
      </div>
    }
  </section>
}

@if (articlesByCategory) {
  @for (articleByCategory of articlesByCategory; track articlesByCategory) {
    <section class="container">
      <div class="articles-section-title">
        <a
          [routerLink]="['/categorie/' + articleByCategory.category.label]"
          class="title-link"
        >
          <h4>{{ articleByCategory.category.name }}</h4>
        </a>
      </div>

      @for (i of [0, 1]; let rowIndex = $index; track i) {
        <div class="row">
          @for (j of [0, 1]; let colIndex = $index; track j) {
            <div class="col-12 col-md-6">
              <a
                [routerLink]="[
                  '/categorie/' +
                    articleByCategory.category.label +
                    '/article/' +
                    articleByCategory.articles[rowIndex * 2 + colIndex].id +
                    '/' +
                    urlService.toLowerURL(
                      articleByCategory.articles[rowIndex * 2 + colIndex].title
                    )
                ]"
                class="article title-link"
              >
                <img
                  [src]="
                    articleByCategory.articles[rowIndex * 2 + colIndex].image
                  "
                  [alt]="
                    articleByCategory.articles[rowIndex * 2 + colIndex].title
                  "
                  class="image-ratio-16x9"
                />
                <h5>
                  {{
                    articleByCategory.articles[rowIndex * 2 + colIndex].title
                  }}
                </h5>
              </a>
            </div>
          }
        </div>
      }
    </section>
  }
}
