@if (frontArticles) {
<section class="container">
  <div class="row">
    <div class="col">
      <a
        [routerLink]="[
          frontArticles[0].category +
            '/' +
            frontArticles[0].id +
            '/' +
            frontArticles[0].title
        ]"
        class="article"
      >
        <img [src]="frontArticles[0].image" [alt]="frontArticles[0].title" />
        <h3>{{ frontArticles[0].title }}</h3>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <a
        [routerLink]="[
          frontArticles[1].category +
            '/' +
            frontArticles[1].id +
            '/' +
            frontArticles[1].title
        ]"
        class="article"
      >
        <img [src]="frontArticles[1].image" [alt]="frontArticles[1].title" />
        <h5>{{ frontArticles[1].title }}</h5>
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a
        [routerLink]="[
          frontArticles[2].category +
            '/' +
            frontArticles[2].id +
            '/' +
            frontArticles[2].title
        ]"
        class="article"
      >
        <img [src]="frontArticles[2].image" [alt]="frontArticles[2].title" />
        <h5>{{ frontArticles[2].title }}</h5>
      </a>
    </div>
  </div>
</section>
} @if (articlesByCategory) { @for (articleByCategory of articlesByCategory;
track articleByCategory) {
<section class="article-category container">
  <a [routerLink]="[articleByCategory.category.label]">
    <h4>{{ articleByCategory.category.name }}</h4>
  </a>

  <div class="articles-delimiter"></div>

  <div class="row">
    <div class="col-12 col-md-6">
      <a
        [routerLink]="[
          articleByCategory.category.label +
            '/' +
            articleByCategory.articles[0].id +
            '/' +
            articleByCategory.articles[0].title
        ]"
        class="article"
      >
        <img
          [src]="articleByCategory.articles[0].image"
          [alt]="articleByCategory.articles[0].title"
        />
        <h5>{{ articleByCategory.articles[0].title }}</h5>
      </a>
    </div>

    <div class="col-12 col-md-6">
      <a
        [routerLink]="[
          articleByCategory.category.label +
            '/' +
            articleByCategory.articles[1].id +
            '/' +
            articleByCategory.articles[1].title
        ]"
        class="article"
      >
        <img
          [src]="articleByCategory.articles[1].image"
          [alt]="articleByCategory.articles[1].title"
        />
        <h5>{{ articleByCategory.articles[1].title }}</h5>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6">
      <a
        [routerLink]="[
          articleByCategory.category.label +
            '/' +
            articleByCategory.articles[2].id +
            '/' +
            articleByCategory.articles[2].title
        ]"
        class="article"
      >
        <img
          [src]="articleByCategory.articles[2].image"
          [alt]="articleByCategory.articles[2].title"
        />
        <h5>{{ articleByCategory.articles[2].title }}</h5>
      </a>
    </div>

    <div class="col-12 col-md-6">
      <a
        [routerLink]="[
          articleByCategory.category.label +
            '/' +
            articleByCategory.articles[3].id +
            '/' +
            articleByCategory.articles[3].title
        ]"
        class="article"
      >
        <img
          [src]="articleByCategory.articles[3].image"
          [alt]="articleByCategory.articles[3].title"
        />
        <h5>{{ articleByCategory.articles[3].title }}</h5>
      </a>
    </div>
  </div>
</section>
} }
