img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.section-title {
  border-bottom: 2px solid #444;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#most-viewed-article {
  .col-12 {
    margin: 0.5rem 0;
  }
}

.article {
  display: inline-block;
  margin-bottom: 1rem;
}

section:last-of-type {
  margin-bottom: 2rem;
}
