#image {
  div:first-of-type {
    display: inline-block;
    margin: 0 auto;

    img {
      display: block;
      width: 128px;
      height: 128px;
      border-radius: 100%;
      border: 1px solid #ccc;
    }

    span#delete-image {
      position: relative;
      top: -128px;
      right: -0px;
      font-size: 1.25rem;
    }

    span#delete-image:hover {
      cursor: pointer;
    }
  }

  span#user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    border-radius: 100%;
    border: 1px solid #ccc;
    color: #333;
  }
}
