@if (notFound) {
  <app-not-found></app-not-found>
}

@if (articles) {
  <div class="articles-section-title">
    <h2>{{ categoryName }}</h2>
  </div>

  <div class="row">
    @for (article of articles; track article) {
      <div class="col-12 col-md-6">
        <a
          [routerLink]="[
            'article/' + article.id + '/' + urlService.toLowerURL(article.title)
          ]"
        >
          <img [src]="article.image" [alt]="article.title" />
          <h5>{{ article.title }}</h5>
        </a>
      </div>
    }
  </div>
}

@if (nbPages) {
  <br />

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li [class.disabled]="page === 1" class="page-item">
        <a
          [routerLink]="['./']"
          [queryParams]="{ page: page - 1 }"
          class="page-link"
        >
          {{ "UTILS.PREVIOUS" | translate }}
        </a>
      </li>

      @if (nbPages <= 4) {
        @for (p of pages; track p) {
          <li [class.active]="p === page" class="page-item">
            <a
              [routerLink]="['./']"
              [queryParams]="{ page: p }"
              class="page-link"
            >
              {{ p }}
            </a>
          </li>
        }
      } @else {
        @if (page <= 3) {
          @for (p of [1, 2, 3]; track p) {
            <li [class.active]="p === page" class="page-item">
              <a
                [routerLink]="['./']"
                [queryParams]="{ page: p }"
                class="page-link"
              >
                {{ p }}
              </a>
            </li>
          }

          <li class="page-item">
            <a class="page-link">...</a>
          </li>
          <li class="page-item">
            <a
              [routerLink]="['./']"
              [queryParams]="{ page: nbPages }"
              class="page-link"
            >
              {{ nbPages }}
            </a>
          </li>
        } @else if (page > nbPages - 3) {
          <li class="page-item">
            <a
              [routerLink]="['./']"
              [queryParams]="{ page: 1 }"
              class="page-link"
            >
              1
            </a>
          </li>
          <li class="page-item">
            <a class="page-link">...</a>
          </li>

          @for (p of pagesEnd; track p) {
            <li [class.active]="p === page" class="page-item">
              <a
                [routerLink]="['./']"
                [queryParams]="{ page: p }"
                class="page-link"
              >
                {{ p }}
              </a>
            </li>
          }
        } @else {
          <li class="page-item">
            <a
              [routerLink]="['./']"
              [queryParams]="{ page: 1 }"
              class="page-link"
            >
              1
            </a>
          </li>

          <li class="page-item">
            <a class="page-link">...</a>
          </li>

          @for (p of pagesIn; track p) {
            <li [class.active]="p === page" class="page-item">
              <a
                [routerLink]="['./']"
                [queryParams]="{ page: p }"
                class="page-link"
              >
                {{ p }}
              </a>
            </li>
          }

          <li class="page-item">
            <a class="page-link">...</a>
          </li>

          <li class="page-item">
            <a
              [routerLink]="['./']"
              [queryParams]="{ page: nbPages }"
              class="page-link"
            >
              {{ nbPages }}
            </a>
          </li>
        }
      }

      <li [class.disabled]="page === nbPages" class="page-item">
        <a
          [routerLink]="['./']"
          [queryParams]="{ page: page + 1 }"
          class="page-link"
        >
          {{ "UTILS.NEXT" | translate }}
        </a>
      </li>
    </ul>
  </nav>
}
