<form [formGroup]="biographyForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>{{ "GENERAL.BIOGRAPHY" | translate }}</legend>

    <hr />

    <div class="mt-3">
      <label for="biography" class="form-label">{{
        "GENERAL.BIOGRAPHY" | translate
      }}</label>
      <textarea
        id="biography"
        class="form-control"
        cols="30"
        rows="10"
        formControlName="biography"
      ></textarea>
    </div>

    <div class="mt-3 text-end">
      @if (["false", "success"].includes(onModify)) {
        <button class="btn btn-primary" type="submit">
          {{ "GENERAL.MODIFY" | translate }}
        </button>
      }

      @if (onModify === "true") {
        <button [disabled]="true" class="btn btn-primary">
          <span class="fa-solid fa-spinner fa-spin"></span>
          {{ "GENERAL.MODIFICATION" | translate }}
        </button>
      }

      @if (onModify === "success") {
        <p class="text-success mt-3">
          {{ "SETTINGS_PAGE.BIOGRAPHY_MODIFIED" | translate }}
        </p>
      }
    </div>
  </fieldset>
</form>
