<div class="container">
  <div class="row">
    <div class="col">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="col-auto text-sm-end">
      @if (onDiscussions) {
        <a
          [routerLink]="[
            '/forum',
            forumSharedService.currentForum,
            'discussion',
            'nouvelle'
          ]"
        >
          <span class="fa-solid fa-circle-plus"></span>
          <span>&nbsp;{{ "FORUM_COMMON.NEW_DISCUSSION" | translate }}</span>
        </a>
      }
    </div>
  </div>
</div>

<router-outlet></router-outlet>
