<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <fieldset>
    <legend>{{ "FORMS.PASSWORD" | translate }}</legend>

    <hr />

    <div class="mt-3">
      <label for="password" class="form-label">
        <span class="fa-solid fa-lock"></span>
        {{ "FORMS.PASSWORD" | translate }}
      </label>
      <input
        id="password"
        class="form-control"
        type="password"
        formControlName="password"
      />
    </div>

    <div class="mt-3">
      <label for="password" class="form-label">
        <span class="fa-solid fa-lock"></span>
        {{ "FORMS.REPEAT_PASSWORD" | translate }}
      </label>
      <input
        id="password"
        class="form-control"
        type="password"
        formControlName="repeatedPassword"
      />
    </div>

    <div class="mt-3 text-end">
      @if (["false", "error", "success"].includes(onModify)) {
        <button
          [disabled]="passwordForm.valid === false"
          class="btn btn-primary"
          type="submit"
        >
          {{ "GENERAL.MODIFY" | translate }}
        </button>
      }

      @if (onModify === "true") {
        <button [disabled]="true" class="btn btn-primary">
          <span class="fa-solid fa-spinner fa-spin"></span>
          {{ "GENERAL.MODIFICATION" | translate }}
        </button>
      }

      @if (onModify === "success") {
        <p class="text-success mt-3">
          {{ "SETTINGS_PAGE.PASSWORD_MODIFIED" | translate }}
        </p>
      }

      @if (onModify === "error") {
        <p class="text-danger mt-3">
          {{ error | translate }}
        </p>
      }
    </div>
  </fieldset>
</form>
