main {
  max-width: 768px;
  margin: auto;
  margin-top: 100px;
  padding: 0 12px;
}

.app-logo {
  font-family: "Merriweather", serif;

  a {
    color: #000;
    text-decoration: none;
  }
}

.title {
  font-family: "Lora";
}

a.title-link {
  font-family: "Lora";
  text-decoration: none;
  color: inherit;
}

a.title-link:hover {
  text-decoration: underline;
}

a.content-link {
  color: #009900;
  text-decoration: none;
}

a.content-link:hover {
  text-decoration: underline;
}

.articles-section-title {
  border-bottom: 2px solid #444;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Bootstrap */

.pagination {
  .page-item.active .page-link {
    background-color: #009900;
    border-color: #009900;
  }

  .page-item:not(.active):not(.disabled) .page-link {
    color: #009900;
  }
}

.dropdown-menu {
  .dropdown-item:hover {
    cursor: pointer;
  }
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
