<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title app-logo">
            <a [routerLink]="['/']">{{ "GENERAL.TITLE" | translate }}</a>
          </h4>

          <p>
            {{ "PASSWORD_FORGOTTEN_PAGE.TITLE" | translate }}
          </p>

          <hr />

          <p>
            {{ "PASSWORD_FORGOTTEN_PAGE.DESCRIPTION" | translate }}
          </p>

          <form>
            <div class="input-group mb-3">
              <span class="input-group-text">
                <span class="fa-regular fa-envelope"></span>
              </span>

              <input
                id="email"
                class="form-control"
                type="email"
                placeholder="{{ 'FORMS.EMAIL' | translate }}"
                formControlName="email"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
