ol {
  padding-left: 0;

  li {
    display: inline;

    a,
    span {
      color: #555;
    }

    span.active {
      font-weight: bold;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
