<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title app-logo">
            <a [routerLink]="['/']">{{ "GENERAL.TITLE" | translate }}</a>
          </h4>

          <p>
            {{ "PASSWORD_RESET_PAGE.TITLE" | translate }}
          </p>

          <hr />

          <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
              <span class="input-group-text">
                <span class="fa-solid fa-lock"></span>
              </span>

              <input
                id="password"
                class="form-control"
                type="password"
                placeholder="{{ 'FORMS.PASSWORD' | translate }}"
                formControlName="password"
              />
            </div>

            <div class="input-group mb-3">
              <span class="input-group-text">
                <span class="fa-solid fa-lock"></span>
              </span>

              <input
                id="password"
                class="form-control"
                type="password"
                placeholder="{{ 'FORMS.REPEAT_PASSWORD' | translate }}"
                formControlName="repeatPassword"
              />
            </div>

            @if (['false', 'error'].includes(onPasswordReset)) {
            <button
              [disabled]="isPasswordResetFormValid === false"
              type="submit"
              class="btn btn-primary"
            >
              {{ "FORMS.VALIDATE" | translate }}
            </button>
            } @else if (onPasswordReset === 'true') {
            <button [disabled]="true" type="submit" class="btn btn-primary">
              {{ "FORMS.VALIDATION" | translate }}
            </button>
            } @else {
            <span class="text-success">
              <span class="fa-regular fa-circle-check"></span>
              {{ "PASSWORD_RESET_PAGE.PASSWORD_MODIFIED" | translate }}
            </span>
            } @if (onPasswordReset === 'error') {
            <div class="text-danger mt-3">
              <span>{{ passwordResetError | translate }}</span>
            </div>
            }
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
